.box{
	display: flex;
}

.left_box{
	width: 50%;
	margin: 0px;
	height: 600px;
	flex: 1;
	flex-grow: 1;
	position: absolute;
}


.right_box{
	margin: 0px;
	padding: 3em 0;
	width: 50%;
	flex: 1;
	right: 0;
	top: 100px;
	position: absolute;
}

.user-login {
	width: 45%;
	margin: 0 auto;
	min-width: 280px;
}

.user-login {
	background:gray;
	/*background: url(../img/3.jpg) no-repeat;*/
	border-radius: 0.8em;
	-o-border-radius: 0.8em;
	-moz-border-radius: 0.8em;
	-webkit-border-radius: 0.8em;
}



.user-login h1 {
	font-size: 1.4em;
	font-family: "microsoft yahei";
	line-height: 150%;
	color: #fff;
	bottom: 0px;
	background: #00acec;
	padding: 1.5em 0em;
	text-align: center;
	border-top-right-radius: 0.6em;
	-o-border-top-right-radius: 0.6em;
	-moz-border-top-right-radius: 0.6em;
	-webkit-border-top-right-radius: 0.6em;
	border-top-left-radius: 0.6em;
	-o-border-top-left-radius: 0.6em;
	-moz-border-top-left-radius: 0.6em;
	-webkit-border-top-left-radius: 0.6em;
	background: rgba(0,0,0,0);
}


form.login {
	padding: 2% 2.9em;
	min-height: 250px;
}

form.login li {
	list-style: none;
	width: 100%;
	min-width: 200px;
	margin: 0 auto;
	border: 1px solid #D6D0D0;
	border-radius: 0.7em;
}

form.login li.base {
	margin-bottom: 10px;
	margin-top: 25px;
	background: rgba(0,0,0,0.5);
}

.user-login input[type="text"],
.user-login input[type="password"] {
	width: 82%;
	padding: 0.7em 0.7em;
	color: #8f9091;
	font-size: 15px;
	outline: none;
	background: #fff;
	border: none;
	-webkit-appearance: none;
	font-weight: 400;
	border-radius: 20px;
	background: rgba(0,0,0,0);
	transition: background-color 50000s ease-in-out 0s
}

.submit-login {
	margin-top: 2.3em;
}

.user-login input[type="submit"] {
	margin-top: 20px;
	font-size: 18px;
	font-weight: 400;
	color: #fff;
	display: inline-block;
	padding: 0.9em 0.9em;
	width: 100%;
	cursor: pointer;
	-webkit-appearance: none;
	border: none;
	outline: none;
	border-radius: 50px;
	-o-border-radius: 50px;
	-webkit-border-radius: 50px;
	-moz-border-radius: 50px;
	background: rgba(0,0,0,0.5);
}

.user-login input[type="submit"]:hover {
	background: #00acec;
	color: #fff;
}
<!--媒体查询未完成 -->
@media only screen and (max-width: 320px) {
				.user-login {
					width: 100%;
					margin: 0 auto;
				}
				.right_box{
					padding: 3em 0px;
					width: 100%;
					margin: 10px auto;
				}
			}
			@media only screen and (max-width: 480px) {
				.user-login {
					width: 100%;
					margin: 0 auto;
				}
				.right_box{
					padding: 3em 0px;
					width: 100%;
					margin: 10px auto;
				}
			}@media only screen and (max-width: 660px) {
	
}


::-webkit-input-placeholder { /* Chrome */
  color: white;
}
:-ms-input-placeholder { /* IE 10+ */
  color: white;
}
::-moz-placeholder { /* Firefox 19+ */
  color: white;
  opacity: 1;
}
:-moz-placeholder { /* Firefox 4 - 18 */
  color: white;
  opacity: 1;
}
